@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body {
 overflow-y:scroll;
 font-family:'PT Sans', sans-serif !important;
}

img,
div,
pre>code {
 display:block;
 margin:25px auto
}

div {
 padding:20px;
 max-width:600px;
 line-height:1.6;
 word-wrap:break-word
}

img {
 max-width:100%;
}

pre>code {
 padding:20px;
 white-space:pre-wrap;
}

code {
	background:#eee;
	padding:2.5px 5px;
	font-size:14px;
}

blockquote {
 border-left:7px solid #ddd;
 padding:0 14px;
 color:#666;
 margin:0
}

h1 {
	font-family: "PT Sans Narrow", sans-serif !important;
	font-size: 32px !important;
}

h2 {
	font-family: "PT Sans Narrow", sans-serif !important;
	font-family: 29px;
    margin-bottom: 0px;
}


figcaption {
	text-align: center;
	font-size: 13px;
	font-family: 'PT Sans', sans-serif;
	color: #525252;
	
}

figcaption {
	text-align: center;
	font-size: 13px;
	font-family: 'PT Sans', sans-serif;
	color: #525252;
	
}

p {
	font-size: 17px;
    margin-top: 0px;
}

p.divider {
	text-align:center;
	font-size: 13px;
}

strong {
    font-size: 18px;
}

ul {
    font-size: 17px;
}

a {
    /*display: block;*/
    width: 100%;
    height: 100%;
    color: #551a8b;
    text-decoration: none;
}

#navigation {
    text-decoration: none;
}

i {
    color: #000000
}

/* Enable darkmode on website, if the user has turned on dark
 * mode on their system.
 * https://mzl.la/2nPgC2Y
 */
@media (prefers-color-scheme: dark) {
     body {
         color: #d7d7d8;
         background-color: #161716;
    }
     a {
         color: #66bbff;
    }
     code {
         color: #d5dada;
         background: #313231;
    }
     figcaption {
         color: #d7d7d8;
    }

    i {
	color: #d7d7d8
    }
}


