@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html {
  margin: auto;
  width: 50%;
  padding: 10px;
  color:#282828;
  font-family: 'PT Sans', sans-serif !important;

}
h1 {
	font-family: "PT Sans Narrow", sans-serif !important;
	font-size: 32px !important;
}
h2 {
	font-family: "PT Sans Narrow", sans-serif !important;
	font-family: 29px
}
p {
	font-size: 17px
}

code {
	background:#eee;
	padding:2.5px 5px;
	font-size:14px;
}

small {
	font-size: 15px;
	font-family: "PT Sans", sans-serif !important
}

a {
	color:#536ef3;
	text-decoration: none;
}

img {
	display: block;
    margin: 0 auto;
}

p.divider {
	text-align:center;
	font-size: 13px;
}

figcaption {
	text-align: center;
	font-size: 13px;
	font-family: 'PT Sans', sans-serif !important;
	color: #525252;
	
}
