body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

::selection {
    background: #f7e788;
}

a {
    color: #0000ee; 
}

code {
    background:#f3f3f3;
    padding:1px 3px;
}

pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

#feed p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#container {
    line-height: 1.5;
    overflow-wrap: break-word;
    max-width: 80ch;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/* Mobile */
@media (max-width: 768px) {
    body {
        padding: 10px;
        font-size: 12px;
    }

    #container {
        max-width: 100%;
    }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background: #121212;
        color: #e6e6e6;
    }

    ::selection {
        background: Highlight;
        color: HighlightText;
    }

    a {
        color: #ae7de9;
    }

    code {
        background: #2d2d2d;
    }
}
